@import 'base';

.answerWrapper {
  margin: 0 auto;
  padding-top: $headerHeight;
  width: 90%;
}
.answerInner {
  margin: 0 auto;
  padding: $headerHeight / 2 0.4rem;
  max-width: $maxWidth;
  text-align: center;
}
.question {
  color: $blueGrey700;
  margin: 0.8rem 0;
}
.content {
  margin: 0 auto 1rem;
  width: 80%;
  font-weight: normal;
  text-align: left;
}

/*1024px X 768px */
@media only all and (max-width: 1024px) {
  .question {
    font-size: 0.8rem;
  }
  .content {
    width: 100%;
    font-size: 1rem;
  }
}
