$amber700: #FFA000;
$white: #FFFFFF;
$black: #000000;
$grey200: #EEEEEE;
$grey500: #9E9E9E;
$grey900: #212121;
$blueGrey700: #455A64;
$red900: #B71C1C;
$greenA400: #00E676;
$bgColor: $grey900;
$mainColor: $grey900;
$secondaryColor: $amber700;
$sidebarWidth: 256px;
$headerHeight: 82px;
$btnHeight: 36px;
$maxWidth: 980px;

@function per($value) {
  @return $value+%;
}

@mixin box-shadow($x, $y, $len, $color) {
  -webkit-box-shadow: $x $y $len $color;
  -moz-box-shadow: $x $y $len $color;
  box-shadow: $x $y $len $color;
}
@mixin wrapper($width, $height) {
  position: absolute;
  display: inline-block;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-height: $height;
  width: $width;
  text-align: center;
}
@mixin full-page-pure() {
  height: 100%;
  width: 100%;
}
@mixin full-page($bgUrl) {
  @include full-page-pure();
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-image: url($bgUrl);
  background-repeat: no-repeat;
}
@mixin bg() {
  min-height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-color: $bgColor;
  background-image: url('../images/homePage1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

body {
  margin: 0;
  padding: 0;
  background-color: $bgColor;
  height: 100%;
  font-size: 16px;
  font-family: Roboto, Helvetica, Tahoma, 'Microsoft YaHei', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', sans-serif;
  -webkit-font-smoothing: antialiased;
  word-break: break-all;
}
#App {
  height: 100%;
}
a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.870588);
}
ul {
  padding: 0;
  list-style: none;
}
.container {
  margin-left: $sidebarWidth;
  overflow-y: scroll;
  @include bg();
  >div {
    height: 100%;
  }
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.insideLink {
  display: inline-block;
  width: 100%;
  height: 100%;
}
.bgIcon {
  margin: 0 auto;
  padding-bottom: 10%;
  width: 80%;
  height: 0;
  font-size: 2rem;
  color: $white;
  background-image: url('../images/title.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 0;
}

@media only all and (min-width: 1280px) {
  .bgIcon {
    padding-bottom: 10%;
  }
}
@media only all and (max-width: 900px) {
  .bgIcon {
    padding-bottom: 15%;
  }
}
@media only all and (max-width: 640px) {
  .container {
    margin-left: 0;
  }
  .bgIcon {
    padding-bottom: 20%;
  }
}
