@import 'base';

$calendarWidth: 11.375rem;

.create {
  margin: $headerHeight auto;
  padding: 1rem;
  max-width: $profileItemMaxWidth;
}
.createBtn {
  margin: 0.8rem;
  span {
    display: inline-block;
  }
}
.question {
  margin: 1rem 0;
  padding: 1rem;
}
.calendar {
  display: inline-block;
  .calendarTitle {
    float: left;
    margin: 0 1rem 0 0.8rem;
    padding: 0;
    height: $btnHeight;
    line-height: $btnHeight;
    font-size: 0.8rem;
    color: $blueGrey700;
  }
}
.calendarDialog {
  margin: 0.25rem auto;
  width: $calendarWidth + 7rem;
  font-size: 1rem;
}
.calendarRow {
  >span {
    margin: 0 per(10 / 6);
  }
}
.timeRow {
  overflow: hidden;
  padding: 0.25rem;
  height: auto;
}
.controlRow {
  height: 2rem;
  >span {
    display: inline-block;
    margin: 0 per(10 / 6);
    width: 30%;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
  }
  >span:nth-child(2) {
    height: 2rem;
    line-height: 2rem;
  }
}
.day {
  display: inline-block;
  border-radius: 50%;
  margin: 0.25rem;
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  // color: $blueGrey700;
  text-align: center;
  cursor: pointer;
}
.daysWrapper>.day:hover {
  background-color: $blueGrey700;
  color: $white;
  opacity: 1;
}
.daysWrapper>.emptyDay {
  background-color: transparent;
  color: $grey200;
  &:hover {
    background-color: transparent;
    color: $grey200;
  }
}
.publishButton {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

@media only all and (max-width: 640px) {
  .calendar {
    width: $calendarWidth + 3.5rem;
  }
  .calendarDialog {
    width: $calendarWidth + 3.5rem;
  }
  .day {
    width: 1.5rem;
    height: 1.5rem;
    line-height: 1.5rem;
  }
}
@media only all and (max-width: 360px) and (max-height: 568px) {
  .calendar {
    width: $calendarWidth;
  }
  .calendarDialog {
    width: $calendarWidth;
    font-size: 0.8rem;
  }
  .day {
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
  }
  .timeRow {
    padding: 0.25rem 0.1rem;
    >span:first-child {
      font-size: 2rem;
      line-height: 2rem;
    }
    >span:nth-child(2) {
      padding-top: 0.4rem;
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
    >span:last-child {
      font-size: 0.8rem;
      line-height: 0.8rem;
    }
  }
}
