@import 'base';

.homePageWrapper {
  @include wrapper(70%, 6.25rem);
  color: $white;
}
.homePageBtn {
  margin: 0 0.25rem;
}
.homePageSearch {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: $bgColor;
  z-index: 50;
}
.homePageBackBtn {
  @include rightBottom();
}
.homePagePapers {
  top: $headerHeight - $btnHeight;
  margin: 0 auto;
  padding: 1rem;
  overflow: hidden;
}
.paper {
  float: left;
  margin: 0.5rem 1%;
  padding: 1rem 0.8rem;
  width: per(94 / 3);
  min-height: 300px;
  height: 50%;
  text-align: center;
}
.homePagePageBar {
  display: block;
  margin: 1rem auto 0;
  width: 80%;
}
.homePagePageNum {
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  display: inline-block;
  min-width: 1.2rem;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  cursor: pointer;
  &:hover {
    background-color: $mainColor;
    color: $white;
  }
}

@media only all and (min-width: 1280px) {
  .paper {
    width: per(92 / 4);
  }
}
@media only all and (max-width: 1024px) {
  .fullPage-1, .fullPage-2 {
    -webkit-background-size: 1024px 768px;
    -moz-background-size: 1024px 768px;
    -o-background-size: 1024px 768px;
    background-size: 1024px 768px;
  }
  .paper {
    width: per(96 / 2);
    height: 40%;
  }
}
/*640px X 480px*/
@media only all and (max-width: 640px) and (max-height: 480px) {
  .fullPage-1, .fullPage-2 {
    -webkit-background-size: 640px 480px;
    -moz-background-size: 640px 480px;
    -o-background-size: 640px 480px;
    background-size: 640px 480px;
  }
}
@media only all and (max-width: 640px) {
  .paper {
    width: per(96);
    height: per(100 / 3);
  }
}
