@import 'base';

.fullPage-1 {
  @include full-page('../images/homePage1.jpg');
  position: fixed;
}
.fullPage-2 {
  min-height: 100%;
}
.homePageWrapper {
  @include wrapper(70%, 6.25rem);
  color: $white;
}
.homePageTitle {
  font-family: 'minijianxiyuan5c3ce34f816557';
}
.homePageBtn {
  margin: 0 0.25rem;
}
.homePageSearch {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: $lightBlue50;
  z-index: 50;
}
.homePageBackBtnWrapper {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 50;
}
.homePageBackBtn {
  margin: 0.35rem;
}
.homePagePapers {
  top: $headerHeight - $btnHeight;
  margin: 0 auto;
  padding: 1rem;
  width: 80%;
  height: 70%;
  overflow-y: scroll;
}
.paper {
  float: left;
  margin: 1%;
  padding: 0.8rem;
  width: per(94 / 3);
}

/*1024px X 768px */
@media only all and (max-width: 1024px) and (max-height: 768px) {
  .fullPage-1, .fullPage-2 {
    -webkit-background-size: 1024px 768px;
    -moz-background-size: 1024px 768px;
    -o-background-size: 1024px 768px;
    background-size: 1024px 768px;
  }
  .paper {
    padding: 0.6rem;
    width: per(94 / 2);
  }
  .homePageBackBtnWrapper {
    background-color: $white;
  }
}
/*640px X 480px*/
@media only all and (max-width: 640px) and (max-height: 480px) {
  .fullPage-1, .fullPage-2 {
    -webkit-background-size: 640px 480px;
    -moz-background-size: 640px 480px;
    -o-background-size: 640px 480px;
    background-size: 640px 480px;
  }
}
@media only all and (max-width: 640px) {
  .paper {
    padding: 0.4rem;
    width: per(94);
  }
}
