@import 'base';

.profile {
  padding-top: $headerHeight;
  .avatar {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: -70px auto;
    cursor: pointer;
    animation: circling 1.5s linear 0s infinite;
    &:hover {
      @include box-shadow(0, 0, 1rem, $amber700);
      animation: none;
    }
  }
  .profileItem {
    margin: 0 auto 3.75rem;
    max-width: $profileItemMaxWidth;
  }
  .profileForm {
    margin: 0 auto;
    padding: 2rem 0;
    width: 95%;
    background-color: $white;
  }
  .profileText {
    margin-top: 0.8rem;
    padding-left: 30%;
  }
  .profileTextLong {
    width: 90%;
  }
  .profileBtnWrapper {
    margin: 0.8rem;
  }
  .profileList {
    margin: 0 auto;
    max-width: $profileItemMaxWidth;
  }
  .profilePaperState0 {
    color: $grey500;
  }
  .profilePaperState1 {
    color: $greenA400;
  }
  .profilePaperState2 {
    color: $red900;
  }
  .profilePaperState0,
  .profilePaperState1,
  .profilePaperState1 {
    margin: auto 1rem;
    font-size: 0.8rem;
  }
  .profilePageBar {
    text-align: right;
    margin: 0.35rem;
    >span, >div {
      margin: auto 0.2rem;
    }
  }
  .profileListItem {
    padding: 0 1rem;
    overflow: hidden;
  }
  .profileListItemTitle {
    display: inline-block;
  }
  .profileListNestedItem {
    float: right;
  }
}

@keyframes circling {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@media only all and (max-width: 1024px) {
  .profile {
    .profileText {
      width: 90%;
      padding-left: 10%;
    }
  }
}

@media only all and (max-width: 640px) {
  label {
    display: block;
  }
  .profile {
    .profileForm {
      width: 100%;
    }
    .profileList {
      margin: 5% 0;
      width: 100%;
    }
    .profileText {
      padding-left: 0.4rem;
    }
  }
  .profileListItem {
    padding: 0 0.5rem;
  }
}
