@import 'base';

.profile {
  padding-top: $headerHeight;
  .avatar {
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin: -70px auto;
    cursor: pointer;
    animation: circling 1.5s linear 0s infinite;
    &:hover {
      @include box-shadow(0, 0, 16px, $amber700);
      animation: none;
    }
  }
  .account {
    padding: 10px 30px;
    color: $blue500;
  }
  .profileForm {
    margin: 10px auto;
    padding: 30px 0;
    width: 95%;
    background-color: $white;
  }
  .profileBtnWrapper {
    margin: 10px;
  }
  .profileList {
    float: left;
    margin: 1%;
    width: 48%;
  }
}

@keyframes circling {
  from {
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
