@import 'base';

.formWrapper {
  @include wrapper(100%, 34rem);
  @include bg();
  >div {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    width: 100%;
  }
}
.signForm {
  display: inline-block;
  width: 30rem;
  padding: 1rem;
}
.signBtn {
  margin: 0.8rem;
}

@media only all and (max-width: 640px) {
  .formWrapper {
    @include wrapper(100%, 27rem);
  }
  .signForm {
    padding: 0;
    width: 100%;
  }
}
