@import 'base';

.formWrapper {
  @include wrapper(70%, 34rem);
}
.signForm {
  background-color: $white;
  display: inline-block;
  width: 30rem;
  padding: 1rem;
}
.signBtn {
  margin: 0.8rem;
}

@media only all and (max-width: 640px) {
  .formWrapper {
    @include wrapper(70%, 27rem);
  }
  .signForm {
    padding: 0;
    width: 100%;
  }
}
